/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Centramos todo en pantalla */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center; /* centra en horizontal */
  align-items: center;     /* centra en vertical */
  height: 100vh;           /* ocupa toda la altura */
}

/* Navbar */
nav {
  background: linear-gradient(90deg, #3498db, #9b59b6);
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}
