.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
}

.seccion-formulario {
    display: flex;
    flex-direction: column;
}

#formulario{
    display: flex;
    flex-direction: column;
    background-color: rgb(243,239,233);
    border: 1px rgb(173, 165, 165) solid;
    border-radius: 5%;
    padding: 35px;
    gap: 5px;
}

#btn-resultado{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

#btn-resultado:hover{
    background-color: #45a049;
}